# Основная база данных
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=your_db_name

# Тестовая база данных
POSTGRES_USER_TEST=your_test_db_user
POSTGRES_PASSWORD_TEST=your_test_db_password
POSTGRES_DB_TEST=your_test_db_name

# Строки подключения
# DATABASE_URL_LOCAL — для локального запуска (хост localhost)
# DATABASE_URL       — для Docker (хост db)
# DATABASE_URL_TEST  — тестовая БД (локально, порт 5433)
DATABASE_URL_LOCAL=postgresql://user:password@localhost:5432/dbname
DATABASE_URL=postgresql://user:password@db:5432/dbname
DATABASE_URL_TEST=postgresql://user:password@localhost:5433/dbname_test

# Секретный ключ для JWT (сгенерировать: openssl rand -hex 32)
SECRET_KEY=your_secret_key_here

#Адрес сервера для redis
REDIS_URL=redis://redis:6379
